@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Vazirmatn', system-ui, sans-serif;
}

body {
  direction: rtl;
  background-color: theme('colors.slate.100');
  color: theme('colors.slate.900');
}

* {
  box-sizing: border-box;
}
